.adddish{
    background-image: url("https://www.shutterstock.com/image-photo/vegan-vegetarian-restaurant-dishes-top-600w-516747673.jpg");
    right:15%;
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    height: 100vh;
    background-repeat: no-repeat;
    background-size:cover;
    background-position: -20px;
    margin: auto;
}
 .addd{
    border: 0.1px solid rgb(215, 200, 200);
    padding: 1rem;
    width: 20rem;
    margin: auto;
    background-color: #fff;
    border-radius: 8px;
    margin-bottom: 9rem;
}
.formdish{
    display: flex;
    flex-direction: column;
    z-index:1;
    margin-top: 10%;
}
.dishname{
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    margin-bottom: 10%;
}
.dishname h1{
    margin-bottom: 3%;
    border-bottom: 1px solid gray;
    width: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dishname .url{
    margin-bottom: 30px;
}
.dishname input{
    border: none;
    outline: none;
    border-bottom: 1px solid gray;
    margin-top: 3%;
}
.userbtn{
    display: flex;
    justify-content: space-between;
}
.userbtn button{
    background-color: #076905;
    color: #fff;
    border: none;
    outline: none;
    padding: 4px;
    border-radius: 5px;
}  
