body{
   background-color: #ced4da;
}
.navbar{
    width: 100%;
    margin:10px auto;
    border-radius: 5px;
    height: 100%;
    color: #fff;
}
.icon{
    display: flex;
    justify-content: space-evenly;
    margin-left: 20px;
}
.hotel{
    width: 90%;
    display: flex;
    justify-content: space-between;
    margin: auto;
    /* background-color: #da77f2; */
    border-radius: 5px;
}
.icon img{
    height: 70px;
    width: 70px;
    margin:auto 2%;
    border-radius: 3px;
}
.icon h2{
    margin-right: 3px;
    color: #000;
    font-style:italic;
}
.logon{
    display: flex;
    color: #fff;
}
.logon ul{
    display: flex;
    justify-content:space-between;
}
.logon ul li a{
    margin: 20px;
    text-decoration: none;
    color: #333 !important;
    align-items: center;
}
.logon ul li{
    list-style: none;
    font-size: 20px;
}
.footer {
    /* position: fixed; */
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #343b4273;
    color: white;
    text-align: center;
 }
 .footer p a{
    text-decoration: none;
 }
 .navbarimag{
    /* margin-top: 5rem; */
    height:40rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }
 .navbarimag h1{
    color: #000;
    /* margin-top: 1rem; */
    margin-bottom: 3rem;
    text-align: center;
 }
 .about{
    display: flex;
    color: #000;
    margin: auto;
    align-items: center;
    justify-content: center;
 }
 .about p{
    color: #000;
    margin-bottom: -5rem;
    margin-top: 2rem;
    margin-bottom: 5rem;
    font-size: large;
 }
 .navbarimag img{
    /* margin-top: 5rem;
    margin-left:20rem; */
    width: 45%;
    /* height: 400px; */
 }
 .millets{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 7rem;
}
.chats{
    display: flex;
    justify-content: center;
    align-items:center;
    color: #000;
    margin-top: 3rem;
    font-size: larger;
}
.about-hotel{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    background-color: #333;
    padding: 3rem;
}
.company{
    display: flex;
    flex-direction: column;
}
.company a{
    text-decoration: none;
}
















