.signup{
    width: 100%;
    display: flex;
    /* margin: auto; */
    background-image: url("https://cdn.pixabay.com/photo/2017/07/18/19/39/lighthouse-2516803_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}
.sign{
    display: flex;
     margin: auto;
     margin-top: 10%;
     border: 1px solid rgb(9, 9, 9);
     width: 30%;
     height: 30rem;
     justify-content: center;
     border-radius: 15px 50px ; 
     background-color: #fff;
     /* align-items: center; */
}
.head{
    margin-top: 5%;
    display: flex;
    justify-content: center;
}
.head h1{
    font-size: 24px;
    margin-bottom: 60px;
}
.signup_form{
    display: flex;
    flex-direction: column;
    margin: auto;
    border: 1px solid gray;
    width: 30%;
    height: 30%;
    justify-content: center;
}
.email{
    display: flex;
    flex-direction: column;
}
.email input{
    /* border: none;
    outline: none;
    border-bottom: 1px solid gray; */
    padding: 13px;
    margin-top: 5%;
    margin-bottom: 10%;
    width: 15rem;
}
.password{
    display: flex;
    flex-direction: column; 
}
.password input{
    padding: 13px;
    margin-top: 5%;
    /* margin-bottom: 10%; */
    width: 15rem;
}
.bun{
    display: flex;
    justify-content:space-between;
    margin-top: 8%;
}
.bun button{
    /*  */
    /* width: 40%;
    background-color:#2538b5;
    font-style: Bold; */
    background-color:#2538b5;
    color: #fff;
    margin-top: 5%;
    padding: 9px;
    border-radius: 12px;
}
.forgotpass{
    display: flex;
    justify-content: space-between;
    margin-top: 3%;
}
.forgotpass a{
    text-decoration: none;
    color: #000;
}